
#top{
height:40% important!;
width:100%;
background-color: #87CEEB;
}
#search{
height:30px;
width:120px;
background-color:white;
}
#searchterm{

height:30px;
width:350px;
}

h3{
color:white;
}
#results{
height:120%;
width:100%;

}
