body{
background-color: #F8F8FF;
}
img{
width:20%;
 height:22%;

}
#top{

width:100%;
 border-radius:70%;
background-color: #87CEEB;
}
#search{
height:30px;
width:120px;
background-color:white;
}
#searchterm{

height:30px;
width:350px;
}

h3{
color:white;
}
#results{
height:120%;
width:100%;

}
.modal-body img{
 height:500px;
 width:500px;

}
